<p>save-or-edit works!</p>
<!-- 
<form *ngIf="isNewEmploye">
    <div class="container-fluid bg-light">
      <label for="forName" class="form-label">Name</label>
      <input
        [(ngModel)]="selectedEmploye.name"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control input-group"
        id="forName"
        aria-describedby="nameHelp"
      />
      <div id="nameHelp" class="form-text">
        We'll never share your name with anyone else.
      </div>
      <input
        [(ngModel)]="selectedEmploye.county"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control"
        id="forCountry"
        aria-describedby="countryHelp"
      />
      <div id="countryHelp" class="form-text">
        We'll never share your country with anyone else.
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-sm m-2"
        (click)="saveOREdit()"
      >
        Save</button
      ><button
        type="button"
        class="btn btn-primary btn-sm m-2"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form> -->
