<div class="container">
  <form *ngIf="getIsNewEmploye()">
    <div class="container-fluid bg-light">
      <label for="inputTextName" class="form-label">Name</label>
      <input
        [(ngModel)]="getSelectedEmploye().name"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control input-group"
        id="inputTextName"
        aria-describedby="nameHelp"
      />
      <div id="nameHelp" class="form-text">
        We'll never share your name with anyone else.
      </div>
      <input
        [(ngModel)]="getSelectedEmploye().county"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control"
        id="forCountry"
        aria-describedby="countryHelp"
      />
      <div id="countryHelp" class="form-text">
        We'll never share your country with anyone else.
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-sm m-2"
        (click)="saveOREdit()"
      >
        Save</button
      ><button
        type="button"
        class="btn btn-primary btn-sm m-2"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
