<p>search works!</p>

<!-- <div class="container" *ngIf="!isNewEmploye">
  <div class="input-group mb-3">
    <input
      [(ngModel)]="search"
      (ngModelChange)="onKey($event)"
      type="text"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="id-search"
      autofocus
    />
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      style="margin-right: 10px"
      (click)="newEmploye()"
    >
      New
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="clear()">
      Clear
    </button>
  </div>
</div> -->
